Package: imagc-0.3-042021
Version: 0.3
Maintainer: ArtesGC <nuruldecarvalho@gmail.com>
Section: graphics
Architecture: amd64
Priority: standard
Description: ImaGC - image editor
 A simple way to add logos to your images or convert to ico.