[Desktop Entry]
Name=ImagEditor
Version=1.0
Exec=/usr/share/imagc/ImagEditor
Comment=A simple way to add logos to your images or convert to ico.
Icon=/usr/share/imagc/img/imagc-icon.png
Path=/usr/share/imagc/
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Graphics;
Comment[pt]=Um modo simples de adicionar logotipos as suas imagens ou converte-las para ico.
GenericName=ImagEditor - image editor
GenericName[pt]=ImagEditor - editor de imagens
StartupWMClass=ImagEditor
