[Desktop Entry]
Name=ImaGC
Version=1.0
Exec=/usr/local/bin/imagc/ImaGC
Comment=A simple way to add logos to your images or convert to ico.
Icon=/usr/local/bin/imagc/img/imagc-icon.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Graphics;
Comment[pt]=Um modo simples de adicionar logotipos as suas imagens ou converte-las para ico.
GenericName=ImaGC - image editor
GenericName[pt]=ImaGC - editor de imagens
StartupWMClass=ImaGC